/**
*
* Formulaire
*
**/


/*==============================
=            Défaut            =
==============================*/

.form-label {
	font-family: var(--font-alt);
}
.form-label-required {
	opacity: .6;
}


.form-item-inner {

	input[type="text"],
	input[type="email"],
	textarea {
		border-color: var(--color-black);

		&:focus {
			background-color: var(--color-3);
		}
	}

	input[type="checkbox"] {
		+ label {
			&:before {
				border-color:#fff;
				outline-color:var(--color-black);
				background-color: #fff;
			}
		}
		&:focus + label {
			&:before {
				background-color:var(--color-3);
				border-color:var(--color-3);
			}
		}
		&:checked + label {	
			&:before {
				background-color: var(--color-1);
			}
		}
	}
}

.form-item--captcha {
	border-top-color:var(--color-grey);
}

.form-item--submit {
	border-color:var(--color-grey);
}

.form-submit {
	text-transform: uppercase;
}


/*=====  FIN Défaut  =====*/

/*===============================
=            Contact            =
===============================*/

.form-item--contact-cgu {
	border-top-color:var(--color-grey);
}


/*=====  FIN Contact  =====*/