/**
*
* Structure principale
*
**/


@use "../../wpreform/css/vars-sass" as *;
@use "../../wpreform/css/framework/frk-functions" as *;


.header {
	background-color:var(--color-1);
}

.footer {
	background-color:var(--color-black);
	color:var(--color-white);
}