/**
*
* Structure principale
*
**/


@use "../../wpreform/css/vars-sass" as *;
@use "../../wpreform/css/framework/frk-functions" as *;


.header {
	background-color:var(--color-1);
}
.h-logo-link {
	max-width: rem(100);

	/* $mq-layout-m */
	@media ( min-width : em($mq-layout-m) ) {
		max-width: none;
	}
}

.footer {
	background-color:var(--color-black);
	color:var(--color-white);
}