@use "../../../plugins/pc-preform-styles/css/framework/frk-functions" as *;

:root {

	/*============================
	=            Font            =
	============================*/
	
	--font-default 				: Arial, sans-serif;
	
    --font 						: 'Raleway 900', sans-serif;
	--font-alt 					: 'Raleway 600', sans-serif;
	
	--line-h-default			: 1.5;

    --h1-font 					: var(--font);
	--nav-h-font 				: var(--font-alt);
	
	
	/*=====  FIN Font  =====*/

	/*================================
	=            Couleurs            =
	================================*/
	
	--color-black-h 			: 0;
	--color-black-s 			: 45%;
	--color-black-l 			: 11%;
	--color-black 				: hsl(var(--color-black-h),var(--color-black-s),var(--color-black-l));
	
	--color-grey-h 				: 32;
	--color-grey-s 				: 22%;
	--color-grey-l 				: 86%;
	--color-grey 				: hsl(var(--color-grey-h),var(--color-grey-s),var(--color-grey-l));
	
	--color-white-h 			: 42;
	--color-white-s 			: 52%;
	--color-white-l 			: 95%;
	--color-white 				: hsl(var(--color-white-h),var(--color-white-s),var(--color-white-l));
	
	// rouge
	--color-1-h 				: 0;
	--color-1-s 				: 98%;
	--color-1-l 				: 64%;
	--color-1 					: hsl(var(--color-1-h),var(--color-1-s),var(--color-1-l));
	
	// bleu
	--color-2-h 				: 39;
	--color-2-s 				: 100%;
	--color-2-l 				: 74%;
	--color-2 					: hsl(var(--color-2-h),var(--color-2-s),var(--color-2-l));
	
	// jaune
	--color-3-h 				: 183;
	--color-3-s 				: 51%;
	--color-3-l 				: 83%;
	--color-3 					: hsl(var(--color-3-h),var(--color-3-s),var(--color-3-l));

	--color-txt-default			: var(--color-black);

	--color-placeholder 		: var(--color-grey);

	--color-msg-default			: var(--color-black);
	--color-msg-error			: #d81501;
	--color-msg-success			: #1D7F00;

	
	/*=====  FIN Couleurs  =====*/

	/*==============================
	=            Layout            =
	==============================*/
	
	--txt-mw					: #{rem(800)};
	
	
	/*=====  FIN Layout  =====*/

	/*==================================
	=            Décoration            =
	==================================*/
	
	--border					: 1px solid var(--color-grey);
	
	
	/*=====  FIN Décoration  =====*/
	
	/*===============================
	=            Wysiwyg            =
	===============================*/
	
	--wysi-space-default-s		: #{rem(10)};
	--wysi-space-default-l		: #{rem(20)};


	/*----------  Titres  ----------*/
	
	--wysi-title-font 			: var(--font);
	--wysi-title-line-h			: 1.3;

	--wysi-h2-color				: var(--color-black);
	--wysi-h2-font-size-s		: #{rem(24)};
	--wysi-h2-font-size-l		: #{rem(30)};
	--wysi-h2-mtop-s			: calc( 1.5 * var(--wysi-space-default-l) );
	--wysi-h2-mtop-l			: calc( 2.5 * var(--wysi-space-default-l) );

	--wysi-h3-color				: var(--color-black);
	--wysi-h3-font-size-s		: #{rem(20)};
	--wysi-h3-font-size-l		: #{rem(24)};
	--wysi-h3-mtop-s			: var(--wysi-space-default-l);
	--wysi-h3-mtop-l			: calc( 1.5 * var(--wysi-space-default-l) ) ;


	/*----------  Lien  ----------*/
	
	--wysi-link-color					: var(--color-black);

	--wysi-link-color-hover				: var(--color-black);
	--wysi-link-bg-color-hover			: var(--color-2);
	
	--wysi-link-color-visited			: var(--color-black);
	--wysi-link-border-color-visited	: var(--color-grey);


	/*----------  Formats  ----------*/
	
	--wysi-intro-font			: var(--font);
	--wysi-intro-font-size		: #{rem(20)};
	
	
	/*=====  FIN Wysiwyg  =====*/

}