/**
*
* Autres liens/boutons dans l'entête
*
**/


@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-mixins" as *;
@use "../components/cpt-buttons" as *;


/*==================================
=            Containers            =
==================================*/

.h-tools {
	position: absolute;
	bottom:$space;
	right:$space;

	@media ( min-width : em($mq-layout-mw) ) {
		bottom:auto;
		top:rem($space-max);
		right: rem($space-max);
	}
}
.h-tools-inner {}


/*=====  FIN Containers  =====*/

/*=============================
=            Liste            =
=============================*/

.h-tools-list {}
.h-tools-item {}


/*=====  FIN Liste  =====*/

/*=======================================
=            Liens / Boutons            =
=======================================*/

.h-tools-link {
	display: flex;
	align-items: center;
	font-family: $font-bold;
}
.h-tools-ico {
	padding:rem(10);
	background-color: $color-black;

	svg {
		fill:$color-white;
	}
	
	@media ( min-width : em($mq-layout-m) ) {
		margin-right: rem(10);
	}
}
.h-tools-txt {
	position: absolute;
	left:-666vw;
	font-size: rem(26);
	text-transform: uppercase;

	@media ( min-width : em($mq-layout-m) ) {
		position:static;
	}
}


/*=====  FIN Liens / Boutons  =====*/