/**
*
* Navigation dans l'entête
*
** Bouton ouvrir/fermer
** Container
** Liste
** Lien
*
*
**/


@use "../../../plugins/pc-preform-styles/css/vars-sass" as *;
@use "../../../plugins/pc-preform-styles/css/framework/frk-functions" as *;


/*============================================
=            Bouton ouvrir/fermer            =
============================================*/

.h-nav-btn {
	color:var(--color-black);
}

.h-nav-btn-ico {
	background-color: var(--color-black);

	&:before, &:after {
		background-color: var(--color-white);
	}

	.h-nav-is-open & {
		background-color: var(--color-black);
	}

	.h-nav-btn:hover &, .h-nav-btn:focus & {
		background-color: transparent;

		&:before, &:after {
			background-color: var(--color-black);
		}
	}
}

.h-nav-btn-txt {

	/* $mq-layout-m */
	@media ( min-width : em($mq-layout-m) ) {
		font-family: var(--font);
		font-size: rem(26);
		text-transform: uppercase;
	}
}

.btn-overlay {
	background-color:var(--color-black);
	opacity: 0;

	.h-nav-is-open & {
		opacity:.6;
	}
}


/*=====  FIN Bouton ouvrir/fermer  =====*/

/*=================================
=            Container            =
=================================*/

.h-nav {
	background-color: var(--color-2);

	/* $mq-nav-max--cl */
	@media ( min-width : em($mq-nav-max--cl) ) {
		// Classic
		.th-c & {
			background-color: transparent;
		}
	}
}


/*=====  FIN Container  =====*/

/*=============================
=            Liste            =
=============================*/

.h-nav-item {

	&:nth-child(n+2) {
		margin-top:rem($space--h-nav);
	}

    /* $mq-nav-max--cl */
    @media ( min-width : em($mq-nav-max--cl) ) {        
		// Classic
		.th-c &:nth-child(n+2) {
			margin:rem(0,0,0,$space--h-nav);
		}       
    }
}


/*=====  FIN Liste  =====*/

/*============================
=            Lien            =
============================*/

.h-nav-link, .h-nav-link:visited {
	
	$after-size : 20;
	$after-size-classic : 14;

	font-family: var(--nav-h-font);
	color: var(--color-white);
	background-color:var(--color-black);
	
    padding:rem($space--h-nav);

	.is-active & {
		background-color: var(--color-1);
		color:var(--color-black);

		&:after {
			content:"";
			position: absolute;
			right:rem($space--h-nav);
			top:50%;
			transform:translateY(rem(-$after-size/2));
			width: rem($after-size);
			height: rem($after-size);
			border-radius:50%;
			background-color: var(--color-black);
			transition: transform $t-nav-link ease;
		}
	}

    &:hover, &:focus {
		color: var(--color-black);
		background-color:var(--color-white);

		&:after {
			transition: transform $t-nav-link ease;
		}
	}
	
	/* $mq-nav-l */
	@media ( min-width : em($mq-nav-l) ) {
		.is-active & {
			transform:translateX(-$space/2);
			color:var(--color-black);
			&:after {
				right:rem(-$after-size/2);
			}
		}
		&:hover, &:focus {
			transform:translateX(-$space/2);
	
			&:after {
				transform:translate(rem(-$after-size),rem(-$after-size/2));
			}
		}
	}
	/* $mq-nav-max--cl */
	@media ( min-width : em($mq-nav-max--cl) ) {
		// Classic
		.th-c .is-active & {
			background-color: var(--color-2);
			transform:translateY(rem($space--h-nav));

			&:before {
				content:"";
				position: absolute;
				left:0;
				right:0;
				top:100%;
				height:rem($space-max - $space--h-nav);
			}			
			&:after {
				top: auto;
				right: 50%;
				width: rem($after-size-classic);
				height: rem($after-size-classic);
				bottom:rem(-$after-size-classic/2);
				transform:translate(rem($after-size-classic/2),rem($space-max - $space--h-nav))
			}
		}
		.th-c &:hover, .th-c &:focus {
			background-color: var(--color-white);
			transform:translateY(rem($space--h-nav));

			&:after {
				transform:translate(rem($after-size-classic/2),0)
			}
		}
	}
}


/*=====  FIN Lien  =====*/
