/**
*
* Navigation dans les articles
*
** Header
*
*
**/


@use "../../../plugins/pc-preform-styles/css/vars-sass" as *;
@use "../../../plugins/pc-preform-styles/css/framework/frk-functions" as *;


/*==============================
=            Header            =
==============================*/

.fs-more-btn {
	animation: fs-more-btn-anim 2s ease infinite;

	&:hover, &:focus {
	   animation:none;
	}
}

@keyframes fs-more-btn-anim {
	0%   { transform: translateY(0); }
	20%  { transform: translateY(-50%); }
	40%  { transform: translateY(0); }
	100% { transform: translateY(0); }
}


/*=====  FIN Header  =====*/