/**
*
* Navigation dans l'entête
*
** Bouton ouvrir/fermer
** Container
** Liste
** Lien
*
*
**/


@use "../variables" as *;
@use "../helpers" as *;
@use "../components/cpt-buttons" as *;


/*============================================
=            Bouton ouvrir/fermer            =
============================================*/

.h-nav-btn-box {
    position: absolute;
	z-index: 999;
    top:$space;
    right:$space;
	color:$black;

	@media ( min-width : em($mq-layout-maw) ) {
		display:none;
	}
}

.h-nav-btn {
	@extend .button;

	.txt {
		position: absolute;
		left: -666em;
	}

	@media ( min-width : em($mq-header-nav-l) ) {
		.txt {
			position: static;
			overflow: hidden;
			max-width: rem(100);
			transition: all .5s ease;
		}	
		.h-nav-is-open & {
			.txt {
				max-width: 0;
				margin:0;
				transition: all .5s ease;
			}
		}
	}
}

.h-nav-btn-ico {	

	$line-w : 16;
	$line-h : 2;
	$arrow-translate : 7;

	width: rem($line-w);
	height: rem($button-size);
	position: relative;

	overflow: hidden;
	&::before, &::after {
		content: "";
		width: rem($line-w);
		height: rem($line-h);
		position: absolute;
		z-index: 1;
		top:50%;
		left:50%;
		margin: rem(-.5*$line-h,0,0,-.5*$line-w);
		background-color: $white;
		transform-origin:center center 0;
		transition:all $t-nav-btn-ico ease;
	}
	&::before { transform:translateY(rem(-$arrow-translate)); }
	&::after { transform:translateY(rem($arrow-translate)); }

	.h-nav-is-open & {

		&::before, &::after { transition:all $t-nav-btn-ico ease; }
		&::before { transform: translateY(0) rotate(-45deg); }
		&::after { transform: translateY(0) rotate(45deg); }
	}

	.h-nav-btn:hover &, .h-nav-btn:focus & {

		&::before, &::after {
			background-color: $black;
			transition:all $t-nav-btn-ico ease;
			width: rem(.75*$line-w);
		}
		&::before {
			transform: translate(rem(.5*$arrow-translate),0) rotate(45deg);
			transform-origin: left top;
		}
		&::after {
			transform: translate(rem(.5*$arrow-translate),0) rotate(-45deg);
			transform-origin: left bottom;
		}
	}

	.h-nav-is-open .h-nav-btn:hover &, .h-nav-is-open .h-nav-btn:focus & {

		&::before {
			transform: translateY(0) rotate(-45deg);
			transform-origin: right top;
		}
		&::after {
			transform: translateY(0) rotate(45deg);
			transform-origin: right bottom;
		}
	}
}
.h-nav-btn-ico--inner {
	display: block;
	&::before { display:none; }
	&::after { transform:none; }
	
	.h-nav-is-open & {
		&::after { transform: translateX(rem(100)); }
	}

	.h-nav-is-open .h-nav-btn:hover &, .h-nav-is-open .h-nav-btn:focus &,
	.h-nav-btn:hover &, .h-nav-btn:focus & {
		&::after { transform: translateX(rem(100)); }
	}
}


/*=====  FIN Bouton ouvrir/fermer  =====*/

/*=================================
=            Container            =
=================================*/

.h-nav {
	position: fixed;
	z-index: 888;
	top: 0;
	left: 100%;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	transition:left 0s ease $t-nav, background-color $t-nav ease;

	.h-nav-is-open & {
		left:0;
		background-color: rgba($black,.6);
		cursor: pointer;
		transition:background-color $t-nav ease;
	}

	@media ( min-width : em($mq-layout-maw) ) {
		position: static;
		overflow: visible;
		display: block;
		width: auto;
		transition: none;
		background-color: transparent;

		.h-nav-is-open & {
			width: auto;
			background-color: transparent;
			cursor: default;
			transition:none;
		}
	}
}

.h-nav-inner {
	width: $header-nav-w-s;
	height: 100%;
	padding: calc( #{rem($button-size)} + #{2*$space} ) $space $space $space;
	background-color: $yellow;
	transform: translateX(100%);
	transition: transform $t-nav ease;
	overflow-y: scroll;

	.h-nav-is-open & {
		transform: translateX(0);
		cursor: default;
		transition: transform $t-nav ease;
	}
	
	@media ( min-width : em($mq-header-nav-l) ) {
		width:$header-nav-w-l;
	}
	@media ( min-width : em($mq-layout-maw) ) {
		background-color: transparent;
		width: auto;
		padding: 0;
		transform: none;
		transition: none;
		overflow-y: visible;
		display: flex;

		.h-nav-is-open & {
			transform: none;
			transition: none;
		}
	}
}


/*=====  FIN Container  =====*/

/*=============================
=            Liste            =
=============================*/

.h-nav-list {

	@media ( min-width : em($mq-layout-maw) ) {
		display: flex;
		flex-wrap: wrap;
	}
}
.h-nav-item {

	&:nth-child(n+2) {
		margin-top:rem($button-space);
	}

    @media ( min-width : em($mq-layout-maw) ) {  

		&:nth-child(n+2) {
			margin:rem(0,0,0,$button-space);       
		}
	}
}


/*=====  FIN Liste  =====*/

/*============================
=            Lien            =
============================*/

.h-nav-link, .h-nav-link:visited {
	@extend .button;
	display: flex;
	text-transform: none;
	@include font();

	.is-active & {
		background-color: $red;
		color:$black;
	}
		
	@media ( min-width : em($mq-header-nav-l) ) {

		.is-active & {
			transform:translateX(-.5*$space);
			color:$black;
		}
		&:hover, &:focus {
			background-color:$blue;
			color:$black;
		}
	}
	@media ( min-width : em($mq-layout-maw) ) {

		.is-active & {
			background-color: $white;
			transform:translateY(rem($button-space));
		}
		&:hover, &:focus {
			background-color:$blue;
			color:$black;
		}
	}
}

.h-nav-link-inner {}


/*=====  FIN Lien  =====*/
