/**
*
* Navigation dans les articles
*
** Header
** Footer
*
*
**/


@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-mixins" as *;


/*==============================
=            Header            =
==============================*/

.fs-more {}
.fs-more-btn {
	animation: fs-more-btn-anim 2s ease infinite;

	svg {
		transform-origin: center;
		transform: rotate(-90deg);
	}

	&:hover, &:focus {
	   animation:none;
	}
}

@keyframes fs-more-btn-anim {
	0%   { transform: translateY(0); }
	20%  { transform: translateY(-50%); }
	40%  { transform: translateY(0); }
	100% { transform: translateY(0); }
}

/*=====  FIN Header  =====*/

/*==============================
=            Footer            =
==============================*/

.previous {
	justify-self: start;
}


/*=====  FIN Footer  =====*/