/**
*
* Autres liens/boutons dans l'entête
*
**/


@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-mixins" as *;
@use "../components/cpt-buttons" as *;


/*==================================
=            Containers            =
==================================*/

.h-tools {

	@media ( min-width : em($mq-layout-maw) ) {
		position: absolute;
		top:rem($space-v-coef*$space-max);
		right: rem($space-max);
	}
}
.h-tools-inner {}


/*=====  FIN Containers  =====*/

/*=============================
=            Liste            =
=============================*/

.h-tools-list {
	display: flex;
}
.h-tools-item {
	display: flex;
	align-items: center;
	margin-left: rem(2*$button-space);

	@media ( min-width : em($mq-layout-l) ) {
		margin-left: rem(3*$button-space);		
	}
}

.h-tools-item--search {
	position: absolute;
	top:$space;
	right: calc( #{$space} + #{rem($button-size + 20)} );

	@media ( min-width : em($mq-layout-l) ) {
		right: calc( #{$space} + #{rem($button-size + 3*$button-space + 85)} );
	}
	@media ( min-width : em($mq-layout-xl) ) {
		position: static;
	}
}


/*=====  FIN Liste  =====*/

/*=======================================
=            Liens / Boutons            =
=======================================*/

.h-tools-link, .h-tools-link:visited {
	@extend .button;

	.txt {		
		position: absolute;
		left:-666vw;
	}	

	@media ( min-width : em($mq-layout-l) ) {

		.txt {
			position:static;
		}
	}
}

.h-tools-cart-counter {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: rem($button-size);
	height: rem($button-size);
	padding-bottom:rem(2); // fix font wpréform
	background-color: $yellow;
	font-family: $font-regular;
	font-size: rem(22);
	color:$black;
	transition: border-color .3s ease;

	.h-tools-link:hover &, .h-tools-link:focus & {
		border-color:$blue;
		transition: border-color .3s ease;
	}
}


/*=====  FIN Liens / Boutons  =====*/