/**
*
* Classic / Navigation dans l'entête
*
** Bouton ouvrir/fermer
** Container
** Liste
** Lien
*
*
**/


@use "../../../plugins/pc-preform-styles/css/vars-sass" as *;
@use "../../../plugins/pc-preform-styles/css/framework/frk-functions" as *;


/*=================================
=            Container            =
=================================*/

.h-nav {
	/* $mq-nav-max--cl */
	@media ( min-width : em($mq-nav-max--cl) ) {
		// reset
		background-color: transparent;
	}
}


/*=====  FIN Container  =====*/

/*=============================
=            Liste            =
=============================*/

.h-nav-item {
    /* $mq-nav-max--cl */
    @media ( min-width : em($mq-nav-max--cl) ) {        
		&:nth-child(n+2) {
			margin:rem(0,0,0,$space--h-nav);
		}       
    }
}


/*=====  FIN Liste  =====*/

/*=============================
=            Liens            =
=============================*/

.h-nav-link, .h-nav-link:visited {

	$after-size : 14;

	/* $mq-nav-max--cl */
	@media ( min-width : em($mq-nav-max--cl) ) {
		.is-active & {
			background-color: var(--color-2);
			transform:translateY(rem($space--h-nav));

			&:before {
				content:"";
				position: absolute;
				left:0;
				right:0;
				top:100%;
				height:rem($space-max - $space--h-nav);
			}			
			&:after {
				top: auto;
				right: 50%;
				width: rem($after-size);
				height: rem($after-size);
				bottom:rem(-$after-size/2);
				transform:translate(rem($after-size/2),rem($space-max - $space--h-nav))
			}
		}
		&:hover, &:focus {
			background-color: var(--color-white);
			transform:translateY(rem($space--h-nav));

			&:after {
				transform:translate(rem($after-size/2),0)
			}
		}
	}
}


/*=====  FIN Liens  =====*/