/* ================================= */
/*            Woocommerce            */
/* ================================= */

/* Attributs : introduction */
#col-left h2 + p,
/* Attributs : case à cocher "Archives" (list & edit) */
.product_page_product_attributes label[for=attribute_public],
.product_page_product_attributes input[id=attribute_public],
.product_page_product_attributes label[for=attribute_public] + .description,
.product_page_product_attributes input[id=attribute_public] + .description,

/* Catégories : type d'affichage */
.taxonomy-product_cat .term-display-type-wrap,
.taxonomy-product_cat #tag-name + p,
.taxonomy-product_cat #parent + p,

/* Liste produit : filtrer par type */
.post-type-product #dropdown_product_type,
.post-type-product .term-description-wrap p,
.post-type-product .term-name-wrap p,

/* Fiche produit : détail d'une variation */
.woocommerce_variation .options label:nth-child(2), /* téléchargeable */
.woocommerce_variation .options label:nth-child(3), /* virtuel */
.woocommerce_variation .upload_image, /* image */
.woocommerce_variation .form-field[class*=weight], /* poids */
.woocommerce_variation .dimensions_field, /* dimensions */
.woocommerce_variation .data :nth-child(7), /* classe de livraison */
.woocommerce_variation .data :nth-child(8), /* description */

/* Commandes */
#woocommerce-order-actions option[value=regenerate_download_permissions]

{
    display: none !important;
}

/* Catégories : parent (contre PC custom) */
.taxonomy-product_cat div.term-parent-wrap,
.taxonomy-product_cat div.term-description-wrap
{
    display: block !important;
}
.taxonomy-product_cat tr.term-parent-wrap,
.taxonomy-product_cat tr.term-description-wrap
{
    display: table-row !important;
}


/*=====  FIN Woocommerce  ======*/

/* =================================== */
/*            Liste de post            */
/* =================================== */

.column-thumbnail {
    width: 50px;
}
.column-thumbnail img {
    max-width: 100%;
    height: auto;
}

/*=====  FIN Liste de post  ======*/

/*===============================
=            Mailjet            =
===============================*/

.mj-pluginPage .bottom_links,
.mj-pluginPage .bottom_links + div,
#mj-settings_top_bar,
.initialSettingsMainCtn > .mj-grid:nth-child(1) .mj-box:nth-child(3),
.initialSettingsMainCtn > .mj-grid:nth-child(2) .mj-box:nth-child(1),
.initialSettingsMainCtn > .mj-grid:nth-child(2) .mj-box:nth-child(3) {
    display: none;
}


/*=====  FIN Mailjet  =====*/