/**
*
* Composant : WYSIWYG
*
** 
*
**/


@use "editor/editor-columns";
@use "editor/editor-cta";
@use "editor/editor-image";
@use "editor/editor-quote";
@use "editor/editor-gallery";


@use "sass:math";
@use "../variables" as *;
@use "../mixins" as *;
@use "../helpers" as *;


.editor {}

.editor-inner {

	/*=====================================
	=            Justification            =
	=====================================*/

	> * {
		max-width: rem($maw-txt);
		margin-inline: auto;
	}

	> *.bloc-wide {
		max-width: none;
	}

	
	/*=====  FIN Justification  =====*/

	/*=========================================
	=            Marges verticales            =
	=========================================*/

	@mixin editor-margin( $s, $l ) {
		margin-top: rem($s);
		margin-bottom: rem($s);

		@media ( min-width : em($mq-layout-l) ) {
			margin-top:rem($l);
			margin-bottom:rem($l);
		}

	}	

	p,
	ul:not([class]),
	ol,
	blockquote,
	[class*="bloc-"] {
		@include editor-margin( $editor-space-default-s, $editor-space-default-l );
	}

	.bloc-space--x2 {
		@include editor-margin( 2*$editor-space-default-s, 2*$editor-space-default-l );
	}
	.bloc-space--x3 {
		@include editor-margin( 3*$editor-space-default-s, 3*$editor-space-default-l );
	}
	.bloc-space--x4 {
		@include editor-margin( 4*$editor-space-default-s, 4*$editor-space-default-l );
	}

	> :first-child, [class*="bloc-"]:first-child {
		margin-top:0;
	}
	> :last-child, [class*="bloc-"]:last-child {
		margin-bottom:0;
	}
	
	
	/*=====  FIN Marges verticales  =====*/

	/*============================
	=            Lien            =
	============================*/
	
	a:not([class]) {
		color:$editor-link-color;
		text-decoration:none;
		border-bottom-width:1px;
		border-bottom-style: solid;
		border-bottom-color: $editor-link-color;
		transition:all 0.3s ease;
		
		&:visited {
			color:$editor-link-color-visited;
			border-bottom-color: $editor-link-border-color-visited;
		}
		&:active {
			border-bottom:none;
			color:$editor-link-color-hover;
		}
		&:hover, &:focus {
			border-bottom:none;
			color:$editor-link-color-hover;
			background-color: $editor-link-bg-color-hover;
			transition:all 0.3s ease;
		}
	}
	

	/*=====  FIN Lien  =====*/

	/*==============================
	=            Listes            =
	==============================*/
	
	ul:not([class]) {
		padding-left: rem(2*$editor-space-default-s);

		@media ( min-width : em($mq-layout-l) ) {
			padding: rem(0,2*$editor-space-default-l);
		}
	}
	ol:not([class]) {
		padding-left: rem(3*$editor-space-default-s);

		@media ( min-width : em($mq-layout-l) ) {
			padding: rem(0,3*$editor-space-default-l);
		}
	}
	

	/*=====  FIN Listes  =====*/

	/*==============================
	=            Titres            =
	==============================*/
	
	h2, h3  {
		@include font($editor-heading-weight,$editor-heading-line-height);
		margin-bottom: 0;

		a {
			color: inherit;
			border: none;
			background: none;
			text-decoration: none;
		}

		em, strong {
			font-style: inherit;
			font-weight: inherit;
		}
	}

	h2 {
		color: $editor-h2-color;

		font-size: rem($editor-h2-font-size-s);
		margin-top: rem($editor-h2-mtop-s);

		@media ( min-width : em($mq-layout-l) ) {
			font-size: rem($editor-h2-font-size-l);
			margin-top: rem($editor-h2-mtop-l);
		}
	}

	h3 {
		color: $editor-h3-color;

		font-size: rem($editor-h3-font-size-s);
		margin-top: rem($editor-h3-mtop-s);

		@media ( min-width : em($mq-layout-l) ) {
			font-size: rem($editor-h3-font-size-l);
			margin-top: rem($editor-h3-mtop-l);
		}
	}

	h2 + h3 {
		margin-top:rem($editor-space-default-s);
		
		@media ( min-width : em($mq-layout-l) ) {
			margin-top:rem($editor-space-default-l);
		}
	}

	
	/*=====  FIN Titres  =====*/


} /* FIN .editor */
