/**
*
* Fil d'ariane
*
**/


@use "../variables" as *;
@use "../mixins" as *;
@use "../helpers" as *;


.breadcrumb {
	@include font();

	.is-fullscreen & {
		border-bottom:$border;
		@include layout(m,0,0,1,0);
		@include layout(p,0,0,.5,0);
	}
}
.breadcrumb-list {
	display: flex;
	flex-wrap: wrap;
}
.breadcrumb-item {
	display: flex;
	align-items: center;

	&:not(:nth-last-child(2)) {
		position: absolute;
		left:-100vw;
		visibility: hidden;
	}

	a, a:visited {
		text-decoration: none;
		color:$black;

		&:hover, &:focus {
		   text-decoration: underline;
		}
	}
	svg {
		display: block;
	}

	@media ( min-width : em($mq-layout-l) ) {

		&:not(:nth-last-child(2)) {
			position: static;
			visibility: visible;
		}
		&:nth-last-child(2) {
			flex-direction: row;
			align-items: center;
		}

		&:last-child {
			color:rgba($black,.6);
		}
		
	}
}
.breadcrumb-ico {
	transform:scale(.5);

	@media ( min-width : em($mq-layout-l) ) {
		margin:0;
		transform:rotate(180deg) scale(.5);

		.breadcrumb-item:first-child & {
			display: none;
		}
	}
}