@use "sass:math";
@use "../../variables" as *;
@use "../../mixins" as *;
@use "../../helpers" as *;

.editor {

	$gallery-space-s : 10;
	$gallery-space-l : 20;

	$mq-gallery-3cols : calc( #{ em( 2*200 + $gallery-space-s ) } + #{ 2*$space } );
	$mq-gallery-4cols : calc( #{ em( 3*200 + 2*$gallery-space-s ) } + #{ 2*$space } );
	$mq-gallery-5cols : calc( #{ em( 4*200 + 3*$gallery-space-l ) } + #{ 2*$space } );
	$mq-gallery-6cols : calc( #{ em( 5*200 + 4*$gallery-space-l ) } + #{ 2*$space } );

	.gallery-list {
		display:flex;
		flex-wrap:wrap;
		justify-content:center;
		gap: rem($gallery-space-s);

		@media ( min-width : $mq-gallery-4cols ) {
			gap: rem($gallery-space-l);
		}
	}
	.gallery-item {
		width: calc( (100% - #{rem($gallery-space-s)}) / 2 );

		@media ( min-width: $mq-gallery-3cols ) {
			width: calc( (100% - #{rem(2*$gallery-space-s)}) / 3 );
		}
		@media ( min-width : $mq-gallery-4cols ) {
			width: calc( (100% - #{rem(3*$gallery-space-l)}) / 4 );
		}
	}
	
	.bloc-wide .gallery-item {
		@media ( min-width : $mq-gallery-5cols ) {
			width: calc( (100% - #{rem(4*$gallery-space-l)}) / 5 );
		}
		@media ( min-width : $mq-gallery-6cols ) {
			width: calc( (100% - #{rem(5*$gallery-space-l)}) / 6 );
		}
	}
	

}