@use "../../variables" as *;
@use "../../mixins" as *;
@use "../../helpers" as *;

.editor {

	blockquote {
		position: relative;

		p {
			margin: 0;
			font-style: italic;
			font-weight: 700;
		}
		cite {
			display: block;
			font-style: normal;
			margin-top:rem($editor-space-default-s);
		}
		.ico {
			position: absolute;
			z-index: -1;
			top:0;
			left:rem(-$editor-space-default-s);
			transform-origin: left top;
			transform: scale(4);
		}
		svg {
			display: block;
			fill: $grey;
		}
		&[class*="bloc-space"] {
			.ico {
				top:rem(-$editor-space-default-s);
			}
		}

		@media ( min-width : em($mq-layout-l) ) {
			padding: rem(0,2*$editor-space-default-l);
		}
		@media ( min-width : em($mq-layout-xl) ) {

			.ico {
				left:rem(-$editor-space-default-l);
			}
		}
	}

}