@use "../../variables" as *;
@use "../../mixins" as *;
@use "../../helpers" as *;
@use "../cpt-buttons" as *;

.editor {

	.cta {
		text-align: center;
	}		
	.cta--frame {
		@extend .layout-ptrbl;
	}
	.cta--v1 {
		background-color: $grey;
	}
	.cta--v2 {
		border:5px solid $black;
	}

	.cta-title {
		margin: 0 0 rem($editor-space-default-s) 0;

		@media ( min-width : em($mq-layout-l) ) {
			margin-bottom:rem($editor-space-default-l);
		}
	}

	.cta-button {
		@extend .button;
	}

}