@use "../variables" as *;
@use "../mixins" as *;

.acf-block-preview {
	> * {
		margin:1rem auto;
		max-width:rem($maw-txt)
	}
	> *.bloc-wide {
		max-width: none;
	}
}
.bloc-space--x2 {
	margin:2rem auto;
}
.bloc-space--x3 {
	margin:3rem auto;
}
.bloc-space--x4 {
	margin:4rem auto;
}

.editor-error {
	padding:1rem;
	background-color: red;
	text-align: center;
	font-weight: bold;
}

.wp-block {
	line-height: 1.5;
}
p, ul, ol, h1, h2, h3 {
	&.wp-block {
		max-width:rem($maw-txt)!important;
	}
}
h1 {
	margin-left: auto;
	margin-right: auto;
}

.txt-align--center {
	text-align: center;
}
.txt-align--right {
	text-align: right;
}


/*----------  Métaboxes  ----------*/

.block-editor .postbox {
	background-color: #f2f2f2;
}

/*----------  Options  ----------*/

.block-editor-post-preview__dropdown,

.block-editor-inserter__tips,
a[href="https://wordpress.org/support/article/embeds/"],
a[href="https://fr.wordpress.org/support/article/wordpress-editor/"],
a[href="https://www.w3.org/TR/html52/dom.html#the-title-attribute"],
a[href="https://wordpress.org/support/article/page-jumps/"],
a[href="https://fr.wordpress.org/support/article/writing-posts/#descriptions-des-boites-meta"],
a[href="edit.php?post_type=wp_block"] {
	display: none !important;
}