/**
*
* Woocommerce : communs
*
** Layout
** Résumés catégorie & produit
*
**/

@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-mixins" as *;


/*==============================
=            Layout            =
==============================*/

/*----------  Titre intermédiaires  ----------*/

.pc-woo-subtitle {
	font-family: $wysi-title-font;
	font-size: rem($wysi-h2-font-size-s);
	line-height: $wysi-title-line-h;
	color: $wysi-h2-color;

	margin: 2*$space 0 $space 0;
	padding-bottom:$space;
	border-bottom: $border;

	@media ( min-width : em($mq-layout-l) ) {
		font-size: rem($wysi-h2-font-size-l);
		margin: $space 0 .5*$space 0;
		padding-bottom: .5*$space;
	}
	@media ( min-width : em($mq-layout-mw) ) {
		margin:rem($space-max) 0 rem(.5*$space-max) 0;
		padding-bottom: rem(.5*$space-max);
	}
}


/*=====  FIN Layout  =====*/