/**
*
* Woocommerce : validation/confirmation de la commande
*
** Layout
** Catégories
** Galerie
** Propriétés
*
**/


@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-helpers" as *;
@use "../framework/frk-mixins" as *;


.is-checkout {

	.login {
		@include layout(p,0,0,2,0);
		@extend .layout-center;
		max-width: rem(500);
	}

}

.pc-woo-checkout-form {

	@media ( min-width : em($mq-layout-xl) ) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap:0 $space;

		.woocommerce-NoticeGroup-checkout {
			grid-column: 1/3;
		}
		.pc-checkout-order-review > h2,
		.woocommerce-billing-fields h2 {
			margin-top:0;
		}
	}
}
.pc-woo-checkout-fields {
	@extend .layout-mt;

	@media ( min-width : em($mq-layout-l) ) {
		display:grid;
		grid-template-columns: 1fr 1fr;
		gap:0 $space;

		#billing_last_name_field {
			margin-top:0;
		}
		#billing_address_1_field {
			grid-column: 1/3;
		}
	}
	@media ( min-width : em($mq-layout-xl) ) {
		display:block;

		#billing_last_name_field {
			margin-top:rem($woo-space-form-row);
		}
	}
}


/*========================================================
=            Récapitulatif commande (tableau)            =
========================================================*/

.pc-woo-checkout-total {
	@include table-with-border-spacing( $woo-border-spacing );

	th, td {
		padding: rem($woo-cell-padding-v,$woo-cell-padding-h);
	}
	th {
		background-color: $woo-th-bg-color;
		text-align: left;
		vertical-align: top;
	}
	td {}

	thead {

		th:nth-child(2) {
			text-align: right;
		}
	}

	tbody {

		td {
			border-bottom:$border;
			vertical-align: top;
			padding-top:0; 

			&:first-child {
				text-align: left;
			}
			&:nth-child(2) {
				text-align: right;
				font-weight: 700;
			}
		}
	}

	tfoot {

		td {
			vertical-align: middle;
			text-align: right;
		}
	}


	/*----------  Produit  ----------*/
		
	.product-quantity {
		&::before { content:"("; }
		&::after { content:")"; }
	}
	.product-total {
		width: $checkout-td-width;

		@media ( min-width : em($mq-layout-l) ) {
			width: auto;
		}
	}
	

	/*----------  Livraison  ----------*/
	
	.woocommerce-shipping-totals {
		display: flex;
		flex-direction: column;
		margin-right: calc( #{-$checkout-td-width} - #{rem(10)} );

		td {
			text-align: center;
		}

		@media ( min-width : em($mq-layout-l) ) {
			display: table-row;
			margin-right: 0;
			
			td {
				text-align: left;
			}
		}
	}
	.woocommerce-shipping-methods {
		padding-top: rem($woo-cell-padding-v);
		display: inline-flex;
		flex-direction: column;

		li {			
			&:nth-child(n+2) {
				margin-top:rem($woo-space);
			}
		}
		label {
			font-family: $font-default;
		}
		.amount {
			font-weight: 700;
		}

		@media ( min-width : em($mq-layout-l) ) {
			padding-top:0;
		}
	}


	/*----------  Total  ----------*/
	
	.order-total {

		td {
			background-color:$woo-total-bg-color;
			font-weight: 700;

			strong {
				font-weight: inherit;
			}
		}

		@media ( min-width : em($mq-layout-m) ) {
			font-size: rem(22);
		}
	}
}


/*=====  FIN Récapitulatif commande (table)  =====*/

/*=========================================
=            Modes de paiement            =
=========================================*/

.pc-woo-checkout-paiment {

	.payment_methods {

		li {			
			&:nth-child(n+2) {
				margin-top:rem($woo-space);
			}
		}
		label {
			font-family: $font-default;
			font-weight: 700;

			span {
				align-items: flex-start;
			}
		}
		div {
			font-style: italic;
			margin:rem(.5*$woo-space,0,0,30); // !!! 30 = largeur label:before + margin
		}
	}
	
	.pc-woo-terms-and-conditions {
		align-items: flex-start;
	}
	.pc-woo-msg-personal-data {
		font-style: italic;
		margin:rem(.5*$woo-space,0,0,30); // !!! 30 = largeur label:before + margin
	}
	.pc-woo-order-validation-box {
		text-align: center;
	}
}


/*=====  FIN Modes de paiement  =====*/

/*======================================
=            Commande reçue            =
======================================*/

.pc-woo-thankyou-page {
	@extend .layout-center;
	@extend .layout-maw-txt;

	td {

		a, a:visited {
			color:$black;
			text-decoration: none;

			&:hover, &:focus {
			   text-decoration:underline;
			}
		}
	}

	tfoot {

		td {
			font-weight: 700;
		}
	}
}


/*=====  FIN Commande reçue  =====*/