/**
*
* Woocommerce : communs
*
** Composants
*
**/

@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-mixins" as *;


/*==================================
=            Composants            =
==================================*/

/*----------  Titre intermédiaires  ----------*/

.pc-woo-subtitle {
	font-family: $wysi-title-font;
	font-size: rem($wysi-h2-font-size-s);
	line-height: $wysi-title-line-h;
	color: $wysi-h2-color;

	margin: 2*$space 0 $space 0;
	padding-bottom:$space;
	border-bottom: $border;

	@media ( min-width : em($mq-layout-l) ) {
		font-size: rem($wysi-h2-font-size-l);
		margin: $space 0 .5*$space 0;
		padding-bottom: .5*$space;
	}
	@media ( min-width : em($mq-layout-maw) ) {
		margin:rem($space-max) 0 rem(.5*$space-max) 0;
		padding-bottom: rem(.5*$space-max);
	}
}


/*----------  Boutons  ----------*/

.pc-cart-button {
	display:inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	text-decoration: none;
	background-color: $black;
	width: rem($button-ico-size + $button-space);
	height: rem($button-ico-size + $button-space);
	border-radius: 50%;
	transition:background-color .3s ease;
	
	svg {
		fill:$white;
		width: rem($cart-button-ico-size);
		height: rem($cart-button-ico-size);
	}

	&:hover, &:focus {
	   background-color: $blue;
	   transition:background-color .3s ease;

	   svg {
		   fill:$black;
	   }
	}

}


/*=====  FIN Composants  =====*/