
@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-helpers" as *;
@use "../framework/frk-mixins" as *;


.is-checkout {

	.login {
		@extend .layout-sub-no-padding-top;
		margin:0 auto;
		max-width: rem(500);
	}

}

.pc-woo-checkout-total {
	border-spacing: rem(10);
	margin-left:rem(-10);
	width: calc( 100% + #{rem(20)} );
	max-width: none;

	th {
		background-color: $color-yellow;
		padding:$space;
		text-align: left;
	}
	td {}

	thead {
		th {
	
			&:nth-child(2) {
				text-align: right;
			}
		}
	}

	tbody {


		td {
			border-bottom:$border;
			padding:.5*$space $space;

			&:first-child {
				text-align: left;
			}
			&:nth-child(2) {
				text-align: right;
				font-weight: 700;
			}
		}
	}
	.product-quantity {
		&::before { content:"("; }
		&::after { content:")"; }
	}

	tfoot {}
}