
@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-helpers" as *;
@use "../framework/frk-mixins" as *;


/*=======================================
=            Ajout au panier            =
=======================================*/

.pc-add-to-cart {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	border:$border;
	padding: rem(10);

	.cart {
		display: flex;
		justify-content: space-between;
	}
}

button[name=add-to-cart] {
	background-color: $color-red;
	width: rem(40);
	overflow: hidden;
	margin-left: rem(10);
	background-image:svg-load('../images/cart-more.svg',fill=$color-black);
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -666em;
}


/*----------  Variation  ----------*/

.variation {

	.label {
		@extend .visually-hidden;
	}
}


/*----------  Quantité  ----------*/

.quantity {
	@extend .visually-hidden;
}
.pc-qty {
	display:flex;
	justify-content: center;
	align-items: center;
}
.pc-qty-counter {
	text-align: center;
	min-width: rem(35);
	font-weight: 700;
}
.pc-qty-btn {
	flex-shrink: 0;
	display: flex;
	background-color: $color-black;
	padding:rem(5);
	border-radius: 50%;
	transition: all .3s ease;

	svg {
		fill:$color-white;
		width: rem(15);
		height: rem(15);
		transition: all .3s ease;
	}
	&:disabled {
		opacity: .3;
		cursor: default;
	}
	&:not(:disabled):hover, &:not(:disabled):focus {
		background-color: $color-blue;
		transition: all .3s ease;

	   	svg {
			fill:$color-black;
			transition: all .3s ease;
		}
	}
}

/*----------  Prix  ----------*/

.price {
	margin:0;
	padding:rem(5,10);
	font-family: $font-bold;
	background-color: $color-yellow;
	font-size: rem(18);
}


/*=====  FIN Ajout au panier  =====*/

/*============================
=            Vide            =
============================*/

.cart-empty {
	margin:0;
}
.return-to-shop {
	@extend .layout-sub-margin-top;
	text-align: center;
}


/*=====  FIN Vide  =====*/

/*==========================================
=            Liste des produits            =
==========================================*/

.pc-cart {
	width: 100%;

	@media ( min-width : em($mq-layout-l) ) {
		border-spacing:rem(10);
	}
}
.pc-cart-head {
	position: absolute;
	left: -666em;

	@media ( min-width : em($mq-layout-l) ) {
		position: static;

		th:nth-child(n+2) {
			background-color: $color-yellow;
			padding:rem(10);
		}
	}
}
.pc-cart-body {
	display: block;

	@media ( min-width : em($mq-layout-l) ) {
		display:table-row-group;
	}
}

.pc-cart-row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	&:nth-child(n+2) {
		margin-top: $space;
	}

	@media ( min-width : em($mq-layout-l) ) {
		display:table-row;

		td {
			border-bottom:$border;
		}	
		&:first-child {
			td {
				border-top: $border;
			}
		}
		&:nth-child(n+2) {
			td {
				padding-top:0;
			}
		}
	}
}

.pc-cart-remove, .pc-cart-name {
	align-self: stretch;
	padding:$space;
	background-color: $color-yellow;

	@media ( min-width : em($mq-layout-l) ) {
		padding:rem(10);
		background-color: transparent;
	}
}
.pc-cart-remove {
	display: flex;
	align-items: flex-start;

	a {
		text-decoration: none;
		background-color: $color-red;
		padding: rem(5);
		border-radius: 50%;

		&:hover, &:focus {
		   background-color: $color-blue;
		}
	}
	svg {
		width: rem(15);
		height: rem(15);
		max-width: none;
	}

	@media ( min-width : em($mq-layout-l) ) {
		display:table-cell;
		text-align: center;

		a {
			display: inline-block;
			vertical-align: middle;
		}
	}
}
.pc-cart-name {
	order:-1;
	width: calc( 100% - #{rem(25)} - #{2*$space} );

	a, a:visited {
		text-decoration: none;
		font-size: rem(18);
		line-height: 1.1;
		font-weight: 700;
		color:$color-black;

		&:hover, &:focus {
		   text-decoration: underline;
		}
	}

	@media ( min-width : em($mq-layout-l) ) {
		width:auto;
	}
}
.pc-cart-price, .pc-cart-quantity, .pc-cart-subtotal {
	width: 100%;
	display: flex;
	padding:.5*$space $space;
	margin:0 $space;

	&::before {
		content:attr(data-title);
		flex-grow: 1;
	}

	@media ( min-width : em($mq-layout-l) ) {
		display:table-cell;
		width: auto;
		padding:rem(10);
		margin:0;
		text-align: center;

		&:before {
			display: none;
		}
	}
}
.pc-cart-price {}
.pc-cart-quantity {
	border-top:$border;
	border-bottom:$border;

	@media ( min-width : em($mq-layout-l) ) {
		border:none;
	}
}
.pc-cart-subtotal {
	font-size: rem(18);
	font-weight: 700;
}

.pc-cart-actions {
	text-align: center;
	
	td {
		padding-top: $space;
	}

	@media ( min-width : em($mq-layout-l) ) {
		td {
			padding-top:rem(10);
		}
	}
}


/*=====  FIN Liste des produits  =====*/

/*=============================
=            Total            =
=============================*/

.pc-cart-total {
	@extend .layout-sub-margin-top;
	margin:$space auto 0;

	.shop_table {
		margin:0 auto;
		font-size:rem(20);
		border-spacing:rem(10);

		th, td {
			padding:rem(10,20);
			font-size: rem(26);
		}
		th {
			background-color: $color-yellow;
		}
		td {
			text-align: right;
		}
		.order-total td {
			background-color: $color-red;
		}
	}
	.wc-proceed-to-checkout {
		@extend .layout-sub-margin-top;
		text-align: center;
	}
	.checkout-button {
		svg {
			transform: rotate(180deg);
			margin-left: rem(10);
		}
	}

	@media ( min-width : em($mq-layout-l) ) {
		
		.shop_table {
			margin: 0 auto;
		}
	}
}


/*=====  FIN Total  =====*/