/**
*
* Woocommerce : compte client
*
** Layout
** Nom du client
** Navigation
** Commandes
** Adresses
*
**/


@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-helpers" as *;
@use "../framework/frk-mixins" as *;
@use "../components/cpt-buttons" as *;


/*==============================
=            Layout            =
==============================*/

.is-account {

	.main-content-inner {
		@extend .layout-maw-txt;
	}
}


/*=====  FIN Layout  =====*/

/*=====================================
=            Nom du client            =
=====================================*/

.pc-woo-account-user-name {
	display: flex;
	align-items: center;
	margin:rem(10,0,0,0);
	font-weight: 700;

	.ico {
		margin-right: rem(10);
		background-color: $yellow;
		padding:rem(10);
		border-radius: 50%;
	}
	svg {
		fill:$black;
		transform: translateY(rem(-1));
	}
}


/*=====  FIN Nom du client  =====*/

/*==================================
=            Navigation            =
==================================*/

.nav-account-list {
	display: flex;
	flex-wrap: wrap;
	@include layout(p,.5,0,.5,0);
	border-top: $border;
	border-bottom: $border;

	li {
		margin:rem(0,10,10,0);
		
		&.is-active a {
			background-color: $red;
			color:$black;

			&:hover, &:focus {
			   background-color: $blue;
			}
		}
	}
}


/*=====  FIN Navigation  =====*/


/*===========================================
=            Liste des commandes            =
===========================================*/

.account-orders-table {
	@extend .layout-mt;
	border-spacing: 0;
	width: 100%;

	tbody {
		display: block;
	}	

	tr {
		display: flex;
		flex-direction: column;
	}
	th, td {
		padding:rem($account-space);
	}
	th {
		position: absolute;
		left:-666em;
	}
	td {
		display: flex;
		border-bottom: $border;
		margin:0 $space;

		&::before {
			content:attr(data-title);
			flex-grow: 1;
			font-weight: 700;
		}
	}

	.woocommerce-orders-table__cell-order-number { // td numéro commande
		background-color: $woo-table-th-bg-color;
		justify-content: center;
		border-bottom: none;
		margin:0;

		&::before {
			flex-grow: 0;
			margin-right: rem(5);
		}
		a, a:visited {
			color:$black;
			font-weight: 700;
			text-decoration: none;

			&:hover, &:focus {
			   text-decoration: underline;
			}
		}
	}

	.woocommerce-orders-table__cell-order-actions { // td boutons actions
		border-bottom: none;

		> * {
			margin-left:rem($account-space);
		}
	}

	@media ( min-width : em($mq-layout-l) ) {
		@include table-with-border-spacing( $account-border-spacing );

		tbody {
			display: table-row-group;
		}
		th, td {
			padding:rem($account-space);
		}
		th {
			position: static;
			background-color: $woo-table-th-bg-color;
		}
		tr {
			display: table-row;
		}
		td {
			display: table-cell;
			text-align: center;

			&::before {
				display: none;
			}
		}
		.woocommerce-orders-table__cell-order-number { // td numéro commande
			background-color: transparent;
			border-bottom: $border;
		}
		.woocommerce-orders-table__cell-order-actions { // td boutons actions
			border-bottom: $border;
		}
	}
}

mark {
	background-color: $woo-table-th-bg-color;
	padding:rem(0,5);
}


/*=====  FIN Liste des commandes  =====*/

/*================================
=            Adresses            =
================================*/

address {

	.is-account & {
		margin-bottom: rem($account-space);
	}
}


/*=====  FIN Adresses  =====*/