/**
*
* Woocommerce : messages
*
**/


@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-helpers" as *;
@use "../framework/frk-mixins" as *;


.woocommerce-notices-wrapper {}

.woocommerce-notice,
.woocommerce-info,
.woocommerce-message,
.woocommerce-error li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    a {
        order:1;
        flex-shrink: 0;
        margin-top: rem(5);
	}

    /* $mq-layout-l */
    @media ( min-width : em($mq-layout-l) ) {
        flex-direction: row;
        text-align: left;

        a {
            margin:rem(0,0,0,20);
        }       
    }
}

.woocommerce-notice,
.woocommerce-info,
.woocommerce-message,
.woocommerce-error {
	padding:rem(10);
	margin-top:0;
    animation: woo-msg 0.3s ease;

	html:not(.is-product) & {
		@extend .layout-sub-margin-bottom;
	}
	.is-account & {
		@extend .layout-sub-margin-top;
	}
}

@keyframes woo-msg {
	0% {
		transform: translateX(-10vw);
	}
	100% {
		transform: translateX(0);
	}
}

.woocommerce-notice,
.woocommerce-info,
.woocommerce-message { 
	background-color: $color-blue;
}
.woocommerce-error {
	background-color: $color-red;
}

.woocommerce-notice,
.woocommerce-info,
.woocommerce-message {
    justify-content: center;
}

.woocommerce-error {
    @extend .reset-list;

    strong {
        &:after {
            content: "\00a0";
        }
    }
}
.woocommerce-error li {

    &:nth-child(n+2) {
        margin-top:rem(5);
    }
}
