/**
*
* Woocommerce : communs
*
** Layout
** Résumés catégorie & produit
*
**/

@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-mixins" as *;


/*==============================
=            Layout            =
==============================*/

/*----------  Entête  ----------*/

.woocommerce-products-header {
	background-color: $color-white;

	h1 {
		@extend .layout-sub;
		@extend .layout-mw;
	}
}


/*=====  FIN Layout  =====*/

/*===================================================
=            Résumés catégorie & produit            =
===================================================*/

/*----------  Article  ----------*/

.st--product-cat,
.st--product {
	
	article {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
}


/*=====  FIN Résumés catégorie & produit  =====*/

/*==============================
=            Tunnel            =
==============================*/

.woocommerce {
	@extend .layout-sub-no-padding-top;
	@extend .layout-mw;
}


/*=====  FIN Tunnel  =====*/