/**
*
* Woocommerce : Produits (communs)
*
** Ajout au panier
*
**/


@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-helpers" as *;
@use "../framework/frk-mixins" as *;


/*=======================================
=            Ajout au panier            =
=======================================*/

.pc-add-to-cart {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	border:$border;
	padding: rem(10);

	.cart {
		display: flex;
		justify-content: space-between;
	}
}

button[name=add-to-cart] {
	background-color: $color-red;
	width: rem(40);
	overflow: hidden;
	margin-left: rem(10);
	background-image:svg-load('../images/cart-more.svg',fill=$color-black);
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -666em;
}


/*----------  Variation  ----------*/

.variation {

	.label {
		@extend .visually-hidden;
	}
}


/*----------  Quantité  ----------*/

.quantity {
	@extend .visually-hidden;
}
.pc-qty {
	display:flex;
	justify-content: center;
}
.pc-qty-counter {
	display: flex;
	align-items: center;
	font-family: $font-regular;
	font-size:rem(20);
	padding:rem(0,10);
}
.pc-qty-btn {
	font-family: $font-regular;
	font-size: rem(24);
}

/*----------  Prix  ----------*/

.price {
	margin:0;
	padding:rem(5,10);
	font-family: $font-bold;
	background-color: $color-yellow;
	font-size: rem(18);
}


/*=====  FIN Ajout au panier  =====*/
