/**
*
* Woocommerce : produit détails
*
** Layout
** Catégories
** Galerie
** Propriétés
*
**/


@use "../variables" as *;
@use "../helpers" as *;


/*==============================
=            Layout            =
==============================*/

.is-product {
	
	.main-content {
		margin-top:0;
	}

	.main-content-inner {
		
		@extend .layout-pb;

		.editor {
			padding:0;
		}

		@media ( min-width : em($mq-layout-l) ) {
			display: grid;		
			grid-template-columns: max-content 1fr;
			gap: $space;

			.woocommerce-notices-wrapper, .editor {
				grid-column: 1/3;
			}
		}
		@media ( min-width : em($mq-layout-xl) ) {
			grid-template-rows: repeat(2,max-content) 1fr;
			
			.editor {
				grid-column: 2/3;
			}
		}
		@media ( min-width : em($mq-layout-maw) ) {
			gap:rem($space-v-coef*$space-max,$space-max);
		}

	}

	.summary {
		margin:$space-v-coef*$space 0;
	
		@media ( min-width : em($mq-layout-l) ) {
			margin:0;
		}
	}

}

.product-aside-title {
	@include layout(m,0,0,1,0);
	@include font(900);
	font-size:rem(30);
}


/*=====  FIN Layout  =====*/

/*===============================
=            Galerie            =
===============================*/

.product-single-gallery {
	margin-top:$space-v-coef*$space;

	.wp-gallery {
		display: grid;
		grid-template-columns: repeat(3,1fr);
		gap:rem(10);
	}
	.wp-gallery-item {

		&:first-child {
			grid-column: 1/4;
		}
	}

	img {
		width: 100%;
	}

	@media ( min-width : em($mq-layout-m) ) {
		
		.wp-gallery {
			grid-template-columns: repeat(4,1fr);
		}
		.wp-gallery-item {

			&:first-child {
				grid-column: 1/5;
			}
		}
	}
	@media ( min-width : em($mq-layout-l) ) {
		max-width:rem(300);
		margin-top:0;
	}
	@media ( min-width : em($mq-layout-xl) ) {
		grid-row:2/4;
		max-width:rem(400);

		.wp-gallery {
			position: sticky;
			top:$space-v-coef*$space;
		}
	}
	@media ( min-width : em($mq-layout-maw) ) {

		.wp-gallery {
			top:rem($space-max);
		}
	}
}


/*=====  FIN Galerie  =====*/

/*==================================
=            Propriétés            =
==================================*/

.single-product-datas {
	@extend .layout-mt;
}


/*=====  FIN Propriétés  =====*/