/**
*
* Publications : page
*
**/


@use "../../sass/variables.scss" as *;
@use "../../sass/mixins" as *;
@use "../helpers.scss" as *;

/*=============================
=            Aside            =
=============================*/

.page-aside {
	@include layout(m,2,0,0,0);
}
.page-aside-title {
	@include font(900);
	color:$black;
	font-size: rem($h1-font-size-s);
	text-align: center;
	
	@media ( min-width : em($mq-layout-l) ) {
		font-size: rem($h1-font-size-l);
	}
}


/*=====  FIN Aside  =====*/