/**
*
* Composant : messages
*
**/


@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;
@use "../helpers" as *;


.msg {
	display:flex;
	line-height: 1.4;
	align-items: center;
	color:$black;

	&.msg--block {
		background-color:$msg-default;
		color:$white;
		padding:rem(10);
	}
	

	// button, a, a:visited {
	// 	border:none;
	// 	padding:0;
	// 	background-color: transparent;
	// 	color:$black;
	// 	text-decoration: underline;
	// 	transition:background-color .3s ease;

	// 	&:hover, &:focus {
	// 	   text-decoration: none;
	// 	   background-color: $black;
	// 	   color:$white;
	// 	   transition:background-color .3s ease;
	// 	}
	// }

	@media ( min-width : em($mq-layout-m) ) {
		margin: rem(30,0,30,0);
	}
}

.msg-ico {
	flex:0 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(30);
	height: rem(30);
	border-radius: 50%;
	background-color: $msg-default;
	margin-right:rem(10);

	svg {
		fill: $white;
	}

	.msg--error &,
	.msg--success & {
		svg {
			fill:$msg-default;
		}
	}

	.msg--block & {
		background-color:$white;

		svg {
			fill: $msg-default;
		}
	}
}

.msg--error {
	
	&:not(.msg--block) .msg-ico {
		background-color: $msg-error;
	}
	&.msg--block {
		background-color:$msg-error;
		color:$black;
	}
}

.msg--success {

	&:not(.msg--block) .msg-ico {
		background-color: $msg-success;
	}
	&.msg--block {
		background-color:$msg-success;
	}
}
