/**
*
* Structure principale
*
** Html & Body
** Visuel Fullscreen
** Header
** Main
** Footer
*
**/


@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-mixins" as *;


/*===================================
=            Html & body            =
===================================*/

/*----------  html  ----------*/

html {
	overflow-x:hidden;
}


/*----------  Body  ----------*/

body {
	overflow-x:hidden;
	
	font-family: $font-default;
	font-size: rem($base-font-size-s);
	line-height: $line-height-default;
	color: $color-black;
	
	background-color: $color-black;

	@media ( min-width : em($mq-layout-l) ) {
		font-size: rem($base-font-size-l);
	}
}

.body-inner {
	// pour la navigation cachée
	position: relative;
	transition: transform $t-nav ease;

	.h-nav-is-open & {
		transform:translateX(-$h-nav-w-s);
		transition: transform $t-nav ease;
	}

	@media ( min-width : em($mq-nav-l) ) {
		.h-nav-is-open & {
			transform:translateX(-$h-nav-w-l);		
		}
	}
	@media ( min-width : em($mq-layout-mw) ) {
		.is-classic.h-nav-is-open & {
			transform:none;		
		}
	}
}


/*=====  FIN Html & body  =====*/

/*=========================================
=            Visuel Fullscreen            =
=========================================*/

.fs-img {
	position: absolute;
	z-index: -1;
	top:0;
	left:0;
	right:0;
	width: 100%;
	height: 100vh; // modifié en js
	background-position: center;
	background-size: cover;
	background-color: $color-white;
}


/*=====  FIN Visuel Fullscreen  =====*/

/*==============================
=            Header            =
==============================*/

/*----------  Header containers  ----------*/

.header {
	
	.is-classic & {
		background-color: $color-red;
	}
}

.header-inner {
	@extend .layout-sub;

	.is-classic & {
		@extend .layout-mw;
	}

	@media ( min-width : em($mq-layout-mw) ) {
		.is-classic & {
			// navigation visible
			position:relative;
			display:flex;
			justify-content: space-between;
			align-items: flex-end;
		}
	}
}


/*----------  Header logo  ----------*/

.h-logo {}

.h-logo-link {
	text-decoration: none;
	display: inline-block;
	max-width: rem(100);

	@media ( min-width : em($mq-layout-l) ) {
		max-width: none;
	}
}


/*=====  FIN Header  =====*/

/*============================
=            Main            =
============================*/

/*----------  Main containers  ----------*/

.main {}

.main-inner {}


/*----------  Main header  ----------*/

.main-header {

	.is-classic & {
		background-color: $color-white;
	}
	.is-fullscreen & {
		@extend .layout-sub-no-padding-top;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		min-height:calc( 100vh - #{2*$space} - #{rem(100)} ); // modifié en js, 100 : hauteur logo
	}
	.h1-pos-v-top & {
		align-items: flex-start;
	}
	.h1-pos-v-bottom & {
		align-items: flex-end;
	}
	.h1-pos-h-left & {
		justify-content: flex-start;
	}
	.h1-pos-h-right & {
		justify-content: flex-end;
	}

	@media ( min-width : em($mq-layout-m) ) {
		.is-fullscreen & {
			min-height:calc( 100vh - #{2*$space} - #{rem(150)} ); // modifié en js, 150 : hauteur logo
		}
	}
	@media ( min-width : em($mq-layout-mw) ) {
		.is-fullscreen & {
			min-height:calc( 100vh - #{rem(2*$space-max)} - #{rem(150)} ); // modifié en js, 150 : hauteur logo
		}
	}
}

.main-header-inner {

	.is-classic & {
		@extend .layout-sub;
		@extend .layout-mw;
	}
	.is-fullscreen & {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}


/*----------  Main content  ----------*/

.main-content {
	background-color: $color-white;
}
.main-content-inner {
	@extend .layout-mw;
}


/*----------  Main footer  ----------*/

.main-footer {
	background-color: $color-white;
}

.main-footer-inner {
	@extend .layout-sub;
	@extend .layout-mw;
	border-top:$border;

	@media ( min-width : em($mq-layout-l) ) {
		display:grid;
		grid-template-columns: repeat(2,1fr);
	}
}


/*=====  FIN Main  =====*/

/*==============================
=            Footer            =
==============================*/

/*----------  Footer containers  ----------*/

.footer {
	background-color:$color-black;
	color:$color-white;
}

.footer-inner {
	@extend .layout-mw;
	@extend .layout-sub;

	@media ( min-width : em($mq-nav-l) ) {
		display: flex;
		justify-content: space-between;		
	}
}


/*=====  FIN Footer  =====*/