/**
*
* Structure principale
*
** Html & Body
** Header
** Main
** Footer
*
**/


@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-mixins" as *;


/*===================================
=            Html & body            =
===================================*/

/*----------  html  ----------*/

html {
	overflow-x:hidden;
}


/*----------  Body  ----------*/

body {
	overflow-x:hidden;
	
	font-family: $font-default;
	font-size: rem($base-font-size-s);
	line-height: $line-height-default;
	color: $color-black;
	
	background-color: $color-black;

	@media ( min-width : em($mq-layout-l) ) {
		font-size: rem($base-font-size-l);
	}
}

.body-inner {
	// pour la navigation cachée
	position: relative;
	transition: transform $t-nav ease;

	.h-nav-is-open & {
		transform:translateX(-$h-nav-w-s);
		transition: transform $t-nav ease;
	}

	@media ( min-width : em($mq-nav-l) ) {
		.h-nav-is-open & {
			transform:translateX(-$h-nav-w-l);		
		}
	}
	@media ( min-width : em($mq-layout-mw) ) {
		transform:none;		
	}
}


/*=====  FIN Html & body  =====*/

/*==============================
=            Header            =
==============================*/

/*----------  Header containers  ----------*/

.header {
	background-color: $color-red;
}

.header-inner {
	@extend .layout-sub;
	@extend .layout-mw;

	@media ( min-width : em($mq-layout-mw) ) {
		position:relative;
		display:flex;
		justify-content: space-between;
		align-items: flex-end;
	}
}


/*----------  Header logo  ----------*/

.h-logo {}

.h-logo-link {
	text-decoration: none;
	display: inline-block;
	max-width: rem(100);

	@media ( min-width : em($mq-layout-l) ) {
		max-width: none;
	}
}


/*=====  FIN Header  =====*/

/*============================
=            Main            =
============================*/

/*----------  Main containers  ----------*/

.main {}

.main-inner {}


/*----------  Main header  ----------*/

.main-header {
	background-color: $color-white;
}

.main-header-inner {
	@extend .layout-sub;
	@extend .layout-mw;
}


/*----------  Main content  ----------*/

.main-content {
	background-color: $color-white;
}
.main-content-inner {
	@extend .layout-mw;
}


/*----------  Main footer  ----------*/

.main-footer {
	background-color: $color-white;
}

.main-footer-inner {
	@extend .layout-sub;
	@extend .layout-mw;
	border-top: $border;

	@media ( min-width : em($mq-layout-l) ) {
		display:grid;
		grid-template-columns: repeat(3,1fr);
	}
}


/*=====  FIN Main  =====*/

/*==============================
=            Footer            =
==============================*/

/*----------  Footer containers  ----------*/

.footer {
	background-color:$color-black;
	color:$color-white;
}

.footer-inner {
	@extend .layout-mw;
	@extend .layout-sub;

	@media ( min-width : em($mq-nav-l) ) {
		display: flex;
		justify-content: space-between;		
	}
}


/*=====  FIN Footer  =====*/