/**
*
* Structure principale
*
** Header
** Footer
*
**/


@use "../../../plugins/pc-preform-styles/css/vars-sass" as *;
@use "../../../plugins/pc-preform-styles/css/framework/frk-functions" as *;

/*==============================
=            Header            =
==============================*/

.header {
	background-color:var(--color-1);

	// Fullscreen
	.is-fullscreen & {
		background-color: transparent;
	}
}

.h-logo-link {
	max-width: rem(100);

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		max-width: none;
	}
}


/*=====  FIN Header  =====*/

/*============================
=            Main            =
============================*/

/*----------  Main header  ----------*/

.main-header {

	// Fullscreen
	.is-fullscreen & {
		min-height:calc( 100vh - #{2*$space} - #{rem(100)} ); // 100 : hauteur logo
	}
	/* $mq-layout-m */
	@media ( min-width : em($mq-layout-m) ) {
		.is-fullscreen & {
			min-height:calc( 100vh - #{2*$space} - #{rem(150)} ); // 150 : hauteur logo
		}
	}
	/* $mq-layout-max--fs */
	@media ( min-width : em($mq-layout-max--fs) ) {
		.is-fullscreen & {
			min-height:calc( 100vh - #{rem(2*$space-max)} - #{rem(150)} ); // 150 : hauteur logo
		}
	}
}


/*----------  Main content  ----------*/

.main-content {	

	/* $mq-layout-max--fs */
	@media ( min-width : em($mq-layout-max--fs) ) {
		// Fullscreen
		.th-f & {
			border-left:var(--border);
			border-right:var(--border);
		}
	}
}


/*----------  Main footer  ----------*/

.main-footer {

	// Fullscreen
	.th-f & {
		border-top:var(--border);
	}
	
	/* $mq-layout-max--fs */
	@media ( min-width : em($mq-layout-max--fs) ) {
		// Fullscreen
		.th-f & {
			border-left:var(--border);
			border-right:var(--border);
		}
	}
}


/*=====  FIN Main  =====*/

/*==============================
=            Footer            =
==============================*/

.footer {
	background-color:var(--color-black);
	color:var(--color-white);
}


/*=====  FIN Footer  =====*/