/**
*
* Fullscreen / Publication : accueil
*
** Raccourcis
** Actualités
*
**/


@use "../../../plugins/pc-preform-styles/css/vars-sass" as *;
@use "../../../plugins/pc-preform-styles/css/framework/frk-functions" as *;


/*==================================
=            Raccourcis            =
==================================*/

.home-shortcuts {
	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		background-color: var(--color-grey);
		border-left: 1px solid var(--color-grey);
	}
}

.home-shortcut-item {
	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		background-color: var(--color-white);
	}
}


/*=====  FIN Raccourcis  =====*/

/*==================================
=            Actualités            =
==================================*/

.home-news-title {
	border-top: 1px solid var(--color-grey);
}


/*=====  FIN Actualités  =====*/