/**
*
* Publications : actualités
*
**/


@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-mixins" as *;


.st-list--news {}

.st--news {

	@media ( min-width : em($mq-layout-xl) ) {
		.is-home &:nth-of-type(4) {
			display:none;
		}
	}
}

.st-date {
	display: block;
	text-align: center;
	margin-bottom:rem(5);
	color:$color-black;
	font-style: italic;

	span {
		font-weight: 700;
	}
}