@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-mixins" as *;


/*================================================
=            Navigation dans l'entête            =
================================================*/

/*----------  Réseaux sociaux  ----------*/

.social-list--header {

	@media ( min-width : em($mq-layout-mw) ) {

		.is-fullscreen & {
			margin-top: $space;
			position:static;
			
			.social-item {
				margin:rem(0,10,0,0);
			}
		}
	}
}


/*----------  Bouton ouvrir/fermer  ----------*/

.h-nav-btn-box {

	@media ( min-width : em($mq-layout-mw) ) {
		.is-fullscreen & {
			display: block;
			top:rem($space-max);
			right:rem($space-max);
		}
	}
}


/*----------  Container  ----------*/

.h-nav {

	@media ( min-width : em($mq-layout-mw) ) {

		.is-fullscreen & {
			position: absolute;
			overflow: hidden;
			display: flex;
			width: 0;
			transition:width 0s ease $t-nav, background-color $t-nav ease;
		}
		.is-fullscreen.h-nav-is-open & {
			width: 100%;
			background-color: rgba($color-black,.6);
			cursor: pointer;
			transition:background-color $t-nav ease;
		}
	}
}

.h-nav-inner {

	@media ( min-width : em($mq-layout-mw) ) {

		.is-fullscreen & {
			width:$h-nav-w-l;
			padding: calc( #{rem($h-btn-nav-size)} + #{rem(2*$space-max)} ) rem($space-max) rem($space-max) rem($space-max);
			background-color: $color-yellow;
			transform: translateX(100%);
			transition: transform $t-nav ease;
		}

		.is-fullscreen.h-nav-is-open & {
			transform: translateX(0);
			cursor: default;
			transition: transform $t-nav ease;
		}
	}
}


/*----------  Liste  ----------*/

.h-nav-list {

	@media ( min-width : em($mq-layout-mw) ) {

		.is-fullscreen & {
			display: block;
		}
	}
}

.h-nav-item {

    @media ( min-width : em($mq-layout-mw) ) {  

		.is-fullscreen & {
			margin-left:0;

			&:nth-child(n+2) {
				margin-top:rem($space--h-nav);
			}
		}
	}
}


/*----------  Lien  ----------*/

.h-nav-link, .h-nav-link:visited {

	@media ( min-width : em($mq-layout-mw) ) {

		.is-fullscreen .is-active & {
			background-color: $color-red;
			transform:translateX(rem(-.5*$space-max));
		}
		.is-fullscreen &:hover, .is-fullscreen &:focus {
			background-color: $color-white;
			transform:translateX(rem(-.5*$space-max));
		}
	}

}


/*=====  FIN Navigation dans l'entête  =====*/

/*==============================
=            Layout            =
==============================*/

/*----------  Visuel  ----------*/

.fs-img {
	position: absolute;
	z-index: -1;
	top:0;
	left:0;
	right:0;
	width: 100%;
	height: 100vh; // modifié en js
	background-position: center;
	background-size: cover;
	background-color: $color-white;
}


/*----------  Header  ----------*/

.header {
	
	.is-fullscreen & {
		background-color: transparent;
	}
}

.header-inner {

	.is-fullscreen & {
		margin:0;
		max-width: none;
	}

	@media ( min-width : em($mq-layout-mw) ) {
		
		.is-fullscreen & {
			position:static;
			display:block;
		}
	}
}

/*----------  Button scroll  ----------*/

.fs-more {}
.fs-more-btn {
	animation: fs-more-btn-anim 2s ease infinite;

	svg {
		transform-origin: center;
		transform: rotate(-90deg);
	}

	&:hover, &:focus {
	   animation:none;
	}
}

@keyframes fs-more-btn-anim {
	0%   { transform: translateY(0); }
	20%  { transform: translateY(-50%); }
	40%  { transform: translateY(0); }
	100% { transform: translateY(0); }
}


/*----------  Main  ----------*/

.main-header {
	
	.is-fullscreen & {
		@extend .layout-prbl;
		background-color: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		min-height:calc( 100vh - #{2*$space} - #{rem(100)} ); // modifié en js, 100 : hauteur logo
	}
	.h1-pos-v-top & {
		align-items: flex-start;
	}
	.h1-pos-v-bottom & {
		align-items: flex-end;
	}
	.h1-pos-h-left & {
		justify-content: flex-start;
	}
	.h1-pos-h-right & {
		justify-content: flex-end;
	}

	@media ( min-width : em($mq-layout-m) ) {
		.is-fullscreen & {
			min-height:calc( 100vh - #{2*$space} - #{rem(150)} ); // modifié en js, 150 : hauteur logo
		}
	}
	@media ( min-width : em($mq-layout-mw) ) {
		.is-fullscreen & {
			min-height:calc( 100vh - #{rem(2*$space-max)} - #{rem(150)} ); // modifié en js, 150 : hauteur logo
		}
	}
}

.main-header-inner {

	.is-fullscreen & {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0;
		margin: 0;
		max-width: none;
	}
}


/*=====  FIN Layout  =====*/

/*====================================
=            Publications            =
====================================*/

h1 {

	.is-fullscreen & {
		@extend .layout-ptrbl;
		background-color: rgba($color-white,.7);
	}
}


/*=====  FIN Publications  =====*/

/*==================================
=            Composants            =
==================================*/

.form--contact {

	@media ( min-width : em($mq-layout-mw) ) {
		.is-fullscreen & {
			grid-column: 1 / 6;
		}
	}
}


/*=====  FIN Composants  =====*/