/**
*
* Publications : commun
*
** Titre de page (h1)
** Article résumé
*
**/


@use "../../../../plugins/pc-preform-styles/css/vars-sass" as *;
@use "../../../../plugins/pc-preform-styles/css/framework/frk-functions" as *;


/*==========================================
=            Titre de page (h1)            =
==========================================*/

h1 {
	color:var(--color-black);
	font-family: var(--font);
	font-weight: 900;

	font-size: rem(28);
	line-height: 1.2; // dépend de la font

	// Fullscreen
	.th-f & {
		border-left: var(--border);
		border-right: var(--border);
		border-bottom: var(--border);
	}
	.is-fullscreen & {
		background-color: hsla(var(--color-white-h),var(--color-white-s),var(--color-white-l),.7);
		border:none;
	}

	/* $mq-title-size */
	@media ( min-width : em($mq-title-size) ) {
		font-size: rem(40);
	}
}


/*=====  FIN Titre de page (h1)  =====*/

/*======================================
=            Article résumé            =
======================================*/

.st {

	// Classic
	.th-c & {
		border:var(--border);
	}
	// Fullscreen
	.th-f & {
		border-top:var(--border);
	}

	&:hover {
		background-color: var(--color-3);
	}

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		// Fullscreen
		.th-f & {
			border-right:var(--border);
		}
		.th-f &:nth-child(2n+2) {
			border-right:none;
		}
	}
	/* $mq-layout-xl--fs */
	@media ( min-width : em($mq-layout-xl--fs) ) {
		// Fullscreen
		.th-f &:nth-child(2n+2) {
			border-right:var(--border);
		}
		.th-f &:nth-child(3n+3) {
			border-right:none;
		}
	}
}

.st-title {
	font-family: var(--font);
	font-weight: 900;
	font-size: rem(20);
	line-height: 1.2;
	margin:rem($space--st,0,.5*$space--st,0);

	a {
		color:var(--color-black);
		&:focus {
			outline: none;
		}
	}
	/* $mq-title-size */
	@media ( min-width : em($mq-title-size) ) {
		font-size: rem(24);
	}
}

.st-figure {

	img {
		transform-origin: center;
	}	
	.st:hover & {
		img {
			transform:scale(1.1);
		}
	}
}

.st-desc {
	span {
		background-color: var(--color-black);
		svg {
			fill:var(--color-white);
		}
	}
	.st:hover & {
		svg {
			fill:var(--color-3);
		}
	}
}


/*=====  FIN Article résumé  =====*/