/**
*
* Publication : accueil
*
** Raccourcis
** Actualités
*
**/


@use "../../../../plugins/pc-preform-styles/css/vars-sass" as *;
@use "../../../../plugins/pc-preform-styles/css/framework/frk-functions" as *;


/*==================================
=            Raccourcis            =
==================================*/

.home-shortcut-link {
	font-family: var(--font-alt);
	line-height: 1.3;
	overflow: hidden;
}
.home-shortcut-img {
	.home-shortcut-link:hover &, .home-shortcut-link:focus & {
		img {
			transform:translateY(-100%);
		}
	}
}
.home-shortcut-txt {
	position: absolute;
	min-height: 0;
	left:0;
	bottom:0;
	right:0;
	padding: rem(10);
	background-color: var(--color-black);
	color:var(--color-white);
	display: flex;
	align-items: center;
	justify-content: center;

	.home-shortcut-link:hover &, .home-shortcut-link:focus & {
		background-color: var(--color-3);
		color:var(--color-black);
		min-height:100%;
	}
}
.home-shortcut-ico {
	position: absolute;
	left:rem(10);
	top:rem(10);
	background-color: var(--color-white);
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(40);
	height: rem(40);
	border-radius: 50%;

	svg {
		fill:var(--color-black);
	}

	.home-shortcut-link:hover &, .home-shortcut-link:focus & {
		transform:rotate(-90deg);	
	}
}

.home-shortcuts--odd {
	/* $mq-layout-m */
	@media ( min-width : em($mq-layout-m) ) {
		> :first-child {

			.home-shortcut-link {
				&:hover, &:focus {
					img {
						transform:translateX(100%);
					}
					.home-shortcut-txt {
						transform:translateX(-100%);
					}
					.home-shortcut-ico {
						transform:translate(-50%,-50%) rotate(-90deg);
					}
				}
			}
			.home-shortcut-ico {
				left:50%;
				top:50%;
				transform:translate(-50%,-50%) ;
			}
		}
	}
}


/*=====  FIN Raccourcis  =====*/