/**
*
* Publications : actualités
*
**/


@use "../variables" as *;
@use "../helpers" as *;


.st-list--news {}

.st--news {
	
	.st-date {
		margin-bottom:rem(.5*$space--st);
		text-align: center;
	}

	@media ( min-width : em($mq-layout-xl) ) {
		.is-home &:nth-child(4) {
			display:none;
		}
	}
}

.single-date--news {
	@include layout(m,.5,0,0,0);
}