/**
*
* Composant : social (liens & partage)
*
** Communs
** Liens vers les pages
** Partage
*
**/


@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-mixins" as *;


/*===============================
=            Communs            =
===============================*/

.social-list {
	display:flex;
}
.social-item {}

.social-link {
	display: block;
	transition:all .3s ease;
	padding: rem(10);
	background-color: $color-black;
	
	path {
		fill:$color-white;
		transition:fill .3s ease;
	}

	&:hover, &:focus {
		transition:all .3s ease;

		path {
			transition:fill .3s ease;
		}
	}
}

.social-link--facebook {
	&:hover, &:focus {
	   background-color: #3b5998;
	}
}
.social-link--twitter {
	&:hover, &:focus {
	   background-color: #00aced;
	}
}
.social-link--linkedin {
	&:hover, &:focus {
	   background-color: #007bb5;
	}
}
.social-link--instagram {
	&:hover, &:focus {
	   background-color: #c32aa3;
	}
}

/*=====  FIN Communs  =====*/

/*============================================
=            Liens vers les pages            =
============================================*/

.social-list--header {
	justify-content: center;
	margin-top: $space;

	.social-item {
		margin-right:rem(10);
	}

	@media ( min-width : em($mq-layout-mw) ) {
		.is-classic & {
			position:absolute;
			top:rem($space-max);
			right:rem($space-max);
			margin:0;
		}
		.is-classic & .social-item {
			margin:rem(0,0,0,10);
		}
	}
}


/*=====  FIN Liens vers les pages  =====*/

/*===============================
=            Partage            =
===============================*/

.social-share {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
	.social-item {
		margin-left:rem(10);
	}

	@media ( min-width : em($mq-layout-l) ) {
		grid-column: 2 / 3;
	}
}

.social-share-title {
	margin:0;
}


/*=====  FIN Partage  =====*/
