/**
*
* Boutons
*
**/


@use "../../../../plugins/pc-preform-styles/css/vars-sass" as *;
@use "../../../../plugins/pc-preform-styles/css/framework/frk-functions" as *;


.button {
	background-color: var(--color-black);
	font-family: var(--font);
	color:var(--color-white);
	text-transform: uppercase;

	path {
		fill:var(--color-white);
	}

	&:hover, &:focus {
		background-color: var(--color-3);
		color:var(--color-black);

		path {
			fill:var(--color-black);
		}
	}
}

.button--color-1 {
	background-color: var(--color-1);
	color:var(--color-black);
}
.button--color-2 {
	background-color: var(--color-2);
	color:var(--color-black);
}
