/**
*
* Fil d'ariane
*
**/


@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-mixins" as *;


.breadcrumb {
	font-family: $font-regular;
	@include layout(m,0,0,.5,0);

	.is-fullscreen & {
		border-bottom:$border;
		@include layout(m,0,0,1,0);
		@include layout(p,0,0,.5,0);
	}
}
.breadcrumb-list {
	display: flex;
	flex-wrap: wrap;
}
.breadcrumb-item {
	display: flex;
	align-items: center;

	&:not(:nth-last-child(2)) {
		position: absolute;
		left:-100vw;
	}
	&:nth-last-child(2) {
		display: flex;
		flex-direction: reverse;
	}

	a, a:visited {
		text-decoration: none;
		color:$black;

		&:hover, &:focus {
		   text-decoration: underline;
		}
	}

	@media ( min-width : em($mq-layout-l) ) {

		&:not(:nth-last-child(2)) {
			position: static;
		}
		&:nth-last-child(2) {
			flex-direction: row;
			align-items: center;
		}

		&:last-child {
			color:rgba($black,.6);
		}
		
	}
}
.breadcrumb-ico {
	transform:scale(.6);

	@media ( min-width : em($mq-layout-l) ) {
		margin:0;
		transform:rotate(180deg) scale(.6);
	}
}