/**
*
* Boutons
*
**/


@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-mixins" as *;


.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding:rem(10);
	text-decoration: none;
	transition:all .3s ease;
	background-color: $color-black;
	font-family: $font-bold;
	font-size:rem(16);
	line-height: 1;
	color:$color-white;
	text-transform: uppercase;

	svg + span {
		margin-left: rem(10);
	}
	svg {
		transition:fill .3s ease;
		fill:$color-white;
	}

	&:hover, &:focus {
		background-color: $color-blue;
		color:$color-black;
		transition:all .3s ease;

		svg {
			fill:$color-black;
			transition:fill .3s ease;
		}
	}	
	
	&:disabled {
		background-color: transparent;
		color: $color-grey;
		border:$border;
		cursor: default;

		&:hover, &:focus {
		   background-color: transparent;
		   color: $color-grey;
		}
	}
}

.button--xl {
	font-size:rem(20);

	@media ( min-width : em($mq-layout-l) ) {
		font-size: rem(22);
		padding:rem(10,20);
	}
}

.button--red {
	background-color: $color-red;
	color:$color-black;
}
.button--yellow {
	background-color: $color-yellow;
	color:$color-black;
}
