@use "../variables" as *;
@use "../mixins" as *;

.wysi-cta {
	text-align: center;
	margin:1rem 0;

	&.is-visible {
		background-color: $wysi-cta-bg-color;
		padding:2rem;
	}
}
.wysi-cta-title {
	font-family: $font-face;
	font-weight: $wysi-heading-weight;
	line-height: $wysi-heading-line-height;
	font-size: rem($wysi-h2-font-size-l);
	margin:0 0 1rem 0;
}
.wysi-button {
	@include button();
}