@use "../variables" as *;
@use "../mixins" as *;

.bloc-quote {
	position: relative;
	font-family: $font-face;

	p {
		font-weight: 800;
		font-size: rem(20);
		margin:0;
		
		position: relative;
		z-index: 1;

		&::before, &::after {
			content:"";
			position: absolute;
			top:rem(-10);
			z-index: 0;
			width: rem(26);
			height: rem(20);
			background-image: svg-load('../../../images/icons/quote.svg');
			opacity: .2;
		}
		&::before {
			transform-origin: right top;
			transform: scale(-$quote-size,$quote-size);
			right:calc( 100% + #{rem(10)} );
		}
		&::after {
			transform-origin: right top;
			transform: scale($quote-size);
			right:rem(-10);
		}
	}
	cite {
		display: block;
		font-style: normal;
		font-weight: 600;
		margin-top:rem(5)
	}
}