@use "../variables" as *;
@use "../mixins" as *;

.bloc-columns {
	display: flex;
	gap:1rem;
}
.bloc-columns--2 {
	> * {
		width: 50%;
	}
}
.bloc-columns--3 {
	> * {
		width: calc( 100% / 3 );
	}
}
.bloc-columns--4 {
	> * {
		width: 25%;
	}
}