[data-type="acf/pc-image"] {
	figure {
		margin:0
	}
}
.wysi-image {
	display:flex;
	flex-direction: column;

	&.wysi-image--center {
		align-items: center;
	}
	&.wysi-image--right {
		align-items: flex-end;
	}
	figcaption {
		font-style: italic;
		margin-top: .5rem;
	}
}