.bloc-image {
	display:flex;
	justify-content: center;

	.bloc-columns &, figure  {
		margin:0;
	}

	&.bloc-image--center {
		text-align: center;
	}
	&.bloc-image--right {
		text-align: right;
	}
	
	figcaption {
		font-style: italic;
		margin-top: .5rem;
	}
}