.gallery-list {
	list-style:none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap:1rem;
	padding:0;
}
.gallery-item {
	width: calc( (100% - 3rem) / 4 );

	.bloc-wide & {
		width: calc( (100% - 5rem) / 6 );
	}
}
.gallery-link {
	display: block;
}
.gallery-img {
	vertical-align: bottom;
}
.gallery-ico {
	display: none;
}

.acf-gallery-side [data-name="title"],
.acf-gallery-side [data-name="description"],
.acf-gallery-side .media-types-required-info {
	display: none;
}
