/**
*
* Framework : mixins
*
**/


@use "frk-variables" as *;
@use "frk-functions" as *;


/*==============================
=            Layout            =
==============================*/

@mixin layout( $type : p, $t : 1, $r : 1, $b : 1, $l : 1 ) {

	@if ( $type == p ) { $type : padding; }
	@if ( $type == m ) { $type : margin; }

	#{$type} : $t*$space $r*$space $b*$space $l*$space;

	@media ( min-width : em($mq-layout-mw) ) {
		#{$type} : rem( $t*$space-max, $r*$space-max, $b*$space-max, $l*$space-max )	;
	}

}

.layout-ptrbl	{ @include layout(); }
.layout-prbl	{ @include layout( p, 0, 1, 1, 1 ); }
.layout-pt 		{ @include layout( p, 1, 0, 0, 0 ); }
.layout-pb 		{ @include layout( p, 0, 0, 1, 0 ); }

.layout-mt		{ @include layout( m, 1, 0, 0, 0 ); }
.layout-mb		{ @include layout( m, 0, 0, 1, 0 ); }

.layout-center {
	margin-right: auto;
	margin-left: auto;
}
.layout-mw {
	max-width:rem($layout-mw);
}
.layout-txt-mw {
	max-width:rem($txt-mw);
}


/*=====  FIN Layout  =====*/