/**
*
* Police de caractères
*
**/

@font-face {
    font-family: "Raleway 900";
    font-style: normal;
    font-weight: 700;
    src: url("css/font-face/raleway-v14-latin-900.woff2") format("woff2"), 
        url("css/font-face/raleway-v14-latin-900.woff") format("woff");
}

@font-face {
    font-family: "Raleway 600";
    font-style: normal;
    font-weight: 600;
    src: url("css/font-face/raleway-v14-latin-600.woff2") format("woff2"), 
        url("css/font-face/raleway-v14-latin-600.woff") format("woff");
}