/**
*
* Woocommerce : communs
*
** Composants
*
**/


@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;
@use "../helpers" as *;


/*==================================
=            Composants            =
==================================*/

/*----------  Titre intermédiaires  ----------*/

.pc-woo-subtitle {
	font-family: $editor-heading-font;
	font-size: rem($editor-h2-font-size-s);
	line-height: $editor-heading-line-height;
	color: $editor-h2-color;

	margin: 2*$space 0 $space 0;
	padding-bottom:$space;
	border-bottom: $border;

	@media ( min-width : em($mq-layout-l) ) {
		font-size: rem($editor-h2-font-size-l);
		margin: $space 0 .5*$space 0;
		padding-bottom: .5*$space;
	}
	@media ( min-width : em($mq-layout-maw) ) {
		margin:rem($space-max) 0 rem(.5*$space-max) 0;
		padding-bottom: rem(.5*$space-max);
	}
}


/*----------  Boutons  ----------*/

.pc-cart-button {
	display:inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	text-decoration: none;
	background-color: $black;
	width: rem($button-ico-size + $button-space);
	height: rem($button-ico-size + $button-space);
	border-radius: 50%;
	transition:background-color .3s ease;
	
	svg {
		fill:$white;
		width: rem($cart-button-ico-size);
		height: rem($cart-button-ico-size);
	}

	&:hover:not(:disabled), &:focus:not(:disabled) {
	   background-color: $blue;
	   transition:background-color .3s ease;

	   svg {
		   fill:$black;
	   }
	}

}


/*----------  Loader  ----------*/

.blockOverlay {
    background-color: rgba($white,.75)!important;
    background-image: svg-load("../../images/woo-loader.svg")!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    opacity: 1!important;
	width: auto!important;
	height: auto!important;
	top:rem(-10)!important;
	right:rem(-10)!important;
	bottom:rem(-10)!important;
	left:rem(-10)!important;

	table & {
		top:rem(0)!important;
		right:rem(0)!important;
		bottom:rem(0)!important;
		left:rem(0)!important;
	}
}


/*=====  FIN Composants  =====*/