/**
*
* Formulaires : recherche
*
**/


@use "../variables" as *;
@use "../helpers" as *;


.form-search {
	display: flex;
	align-items: center;
}
.form-search-input {
	height: rem($button-size);
}
.form-search-submit {
	flex-shrink: 0;
	margin-left:rem($button-space);

	.txt {
		position: absolute;
		left:-666em;
	}

	@media ( min-width : em($mq-layout-m) ) {
		.txt {
			position: static;
		}
	}
}