/**
*
* Formulaires : défaut
*
** Liste
** Label
** Champs
** Captcha
** Validation
*
**/


@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-mixins" as *;


.form--page-protected {

	> p:first-child {
		margin:0;
	}

	.form-list {
		margin-top: rem($wysi-space-default-s);

		> p:first-child {
			margin:0;
		}

		@media ( min-width : em($mq-layout-l) ) {
			margin-top:rem($wysi-space-default-l);
		}
	}

}