/**
*
* Formulaires : recherche
*
**/


@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-mixins" as *;


.form-search-box {
	position: absolute;
	top:rem(-($h-btn-size + 20));
	left:0;
	right: 0;
	background-color: $color-yellow;
	display: flex;
	align-items: flex-end;
}

.form-search-box-inner {
	padding:rem(10) $space;
	width: 100%;
	@extend .layout-mw;
	@extend .layout-center;

	@media ( min-width : em($mq-layout-mw) ) {
		padding: rem(10,$space-max);
	}
}

.form-search {
	display: flex;
	align-items: center;

	.form-search-box & {
		justify-content: flex-end;
	}
	.main-header & {
		@extend .layout-mt;
	}
}
.form-search-label {
	position: absolute;
	left:-666vw;
}
.form-search-input {
	width: auto;
	max-width: rem(300);
	padding-top: 0;
	padding-bottom: 0;
	height: rem($h-btn-size);
}
.form-search-submit {
	flex-shrink: 0;
}