/**
*
* Formulaires : contact
*
**/


@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-mixins" as *;


.form--contact {
	@extend .layout-sub;

	form {
		max-width: rem($txt-mw);
	}

	@media ( min-width : em($mq-layout-l) ) {
		grid-column: 1 / 3;
	}
	@media ( min-width : em($mq-layout-mw) ) {
		.is-fullscreen & {
			grid-column: 1 / 6;
		}
	}
}

.form-item--contact-cgu {
	padding-top:$space;
	border-top:$border;

	@media ( min-width : em($mq-layout-l) ) {
		padding-top:rem(20);
	}
}