/**
*
* Formulaires : défaut
*
** Liste
** Label
** Champs
** Captcha
** Validation
*
**/


@use "../framework/frk-variables" as *;
@use "../framework/frk-functions" as *;
@use "../framework/frk-mixins" as *;


/*=============================
=            Liste            =
=============================*/

.form-list {}

.form-item {
	& + & {
		margin-top:$space;
	}

	@media ( min-width : em($mq-layout-l) ) {
		&:not(.form-item--checkbox) {
			display: flex;
			align-items: flex-start;
		}
		& + & {
			margin-top: rem(20);
		}
	}
}


/*=====  FIN Liste  ======*/

/*=============================
=            Label            =
=============================*/

label {
	font-family: $font-regular;

	a, a:visited {
		color:inherit;
		transition:all .3s ease;

		&:hover, &:focus {
		   background-color: $wysi-link-bg-color-hover;
		   transition:all .3s ease;
		}
	}
}

.form-label {

	.form-item--checkbox & {
		display: flex;
	}

	@media ( min-width : em($mq-layout-l) ) {
		min-width : rem(300);
	}
}

.form-label-required {
	opacity: .6;
}


/*=====  FIN Label  =====*/

/*==============================
=            Champs            =
==============================*/

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select,
textarea {		
	width:100%;
	padding:rem(10);
	border: $border;

	&.error { border-color: $color-msg-error; }
	&:focus {
		outline: none;
		border-color: $color-black;
	}
}

select {
	position: relative;

	&::before, &::after {
		content:"";
		position: absolute;
		z-index: 1;
	}
	&::after {
		top:1px;
		right: 1px;
		bottom:1px;
		width: rem(20);
		background-color: $color-white;
	}
}

input[type="radio"],
input[type="checkbox"] {
	+ * {
		display:flex;
		align-items: center;

		&::before {
			content:"";
			display: inline-block;
			flex-shrink: 0;
			width: rem(20);
			height: rem(20);
			border:rem(4) solid #fff;
			outline:$border;
			background-color: #fff;
			margin-right: rem(10);
		}
	}
	&:focus + * {
		&::before {
			outline-color: $color-black;
		}
	}
	&:checked + * {	
		&::before {
			background-color: $color-red;
		}
	}
}
input[type="radio"] {
	+ * {
		&::before {
			border-radius:50%;
		}
	}
}


/*----------  Description  ----------*/

.form-item-desc {
	font-style: italic;
	line-height: 1.3;
	margin-top:rem(5);

	.form-item--checkbox & {
		margin-left:rem(30);
	}
}


/*=====  FIN CGU  ======*/

/*===============================
=            Captcha            =
===============================*/

.form-item--captcha {
	padding-top: $space;
	border-top:$border;
	
	.g-recaptcha {
		margin-top: rem(10);

		@media ( min-width : em($mq-layout-l) ) {
			margin-left:auto;
			margin-top: 0;
		}
	}
	@media ( min-width : em($mq-layout-l) ) {
		padding-top: rem(20);
	}
}

.g-recaptcha {
	transform-origin:left top;
	transform:scale(0.95);

	@media (min-width:em(330)) {
		transform:scale(1);
	}
}


/*=====  FIN Captcha  ======*/

/*==================================
=            Validation            =
==================================*/

.form-item--submit {
	text-align: center;
	justify-content: center;
	padding: $space 0;
	border:$border;

	@media ( min-width : em($mq-layout-l) ) {
		display: block;
		padding:rem(20) 0;
	}
}


/*=====  FIN Validation  ======*/
